:root {
    /* Default Theme - Light */
    --primary-color: #5D87FF;
    --secondary-color: #03dac6;
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #e0e0e0;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-bg-color: #4a6cd9; /* Darker version of primary */
}

.light {
    --primary-color: #5D87FF;
    --secondary-color: #03dac6;
    --background-color: #F2F5FC;
    --text-color: #444444;
    --border-color: #e0e0e0;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-bg-color: #4a6cd9; /* Darker version of primary */
}

.dark {
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --background-color: #121212;
    --text-color: #ffffff;
    --border-color: #333333;
    --shadow-color: rgba(255, 255, 255, 0.1);
    --hover-bg-color: #9e6cd9; /* Darker version of primary */
}

.blue {
    --primary-color: #1e88e5;
    --secondary-color: #ffca28;
    --background-color: #e3f2fd;
    --text-color: #0d47a1;
    --border-color: #2196f3;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-bg-color: #1976d2; /* Darker version of primary */
}



